.counter {
    width: 300px;
    height: 200px;
    border: thistle 4px solid;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 60px;
}

.display{
    width: 260px;
    height: 70px;
    border: yellowgreen 1px solid;
    padding: 5px;
    border-radius: 10px;
    margin-left: 12px;
    margin-top: 13px;
    background-color: aquamarine;
    font-size: 30px;
    text-align: center;
}

.buttons{
    margin-top: 10px;
    width: 260px;
    height: 70px;
    border: yellowgreen 2px solid;
    padding: 5px;
    border-radius: 10px;
    margin-left: 12px;
}

.but{
    margin: 0 auto;
    width: 120px;
    height: 60px;
    background-color: gainsboro;
}

.error{
    width: 260px;
    height: 70px;
    border: yellowgreen 1px solid;
    padding: 5px;
    border-radius: 10px;
    margin-left: 12px;
    margin-top: 13px;
    background-color: red;
    font-size: 30px;
    text-align: center;
}